<div class='flex flex-row gap-x-2 w-full justify-between header-light items-top bg-accent px-5 py-2 rounded-md'>
  <%= link_to ' << ', dashboard_path(date: date, move: :yesterday), class: 'cursor-pointer' %>
  <div><%= date_dict(date) %></div>
  <%= link_to ' >> ', dashboard_path(date: date, move: :tomorrow), class: 'cursor-pointer' %>
</div>
