<% if flash[:error].present? %>
  <div class="absolute z-50 warning-card top-[70px] right-2 flex-col">
    <div class="icon-close justify-self-end cursor-pointer" onclick="this.parentElement.remove()"></div>
    <ul>
      <li><%= flash[:error] %></li>
    </ul>
  </div>
<% end %>
