<div class='flex flex-col justify-end'>
  <div><span class="header">сумма за день:</span> <%= humanized_money_with_symbol @sum_for_day %></div>
  <div><span class="header">сумма за месяц:</span> <%= humanized_money_with_symbol @sum_for_month %></div>
</div>
