<% if resource.errors.any? %>
  <div id="error_explanation", class="error-card">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if flash[:alert] %>
  <div id="error_explanation", class="error-card">
    <ul>
      <li><%= flash[:alert] %></li>
    </ul>
  </div>
<% end %>
