<div class='student-wrapper'>
  <div class="name"><%= student.name %>, </div>
  <div>остаток: 3900 руб. (3)</div>
  <div class='button'>подробнее</div>
  <div class='button'>переместить</div>
  <input type="checkbox" class="checkbox">
</div>
