<div class='student-wrapper'>
  <div class="name"><%= student.name %>, </div>
  <div>остаток: 3900 руб. (3)</div>
  <% unless action_name.eql? 'show' %>
    <%= link_to 'подробнее', student %>
    <input type="checkbox" class="checkbox">
  <% end %>
</div>
