<div class="grid grid-flow-row lg:flex gap-y-4">
  <%= render 'elements/date_pick', date: @date %>
  <%= render 'elements/statistics', action_name: :dashboard %>
</div>
<div class='classrooms_wrapper'>
  <%= render @classrooms %>
</div>
