<div class="floating-button-wrapper">
  <div class="main-button">
    <div class="icon-add h-16 w-16"></div>
  </div>
  <div class='menu'>
    <div class='menu-button'>добавть класс</div>
    <div class='menu-button'>добавить студента</div>
    <div class='menu-button'>настройки</div>
    <div class='menu-button'>cтатистика</div>
  </div>
</div>
