<nav>
  <%= link_to 'M-Tracker', root_path, class: 'flex justify-self-start logo' %>
  <div class='flex flex-1 items-center justify-end gap-4'>
    <div class='t-white'><%= current_user.login %></div>
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button" class="relative cursor-pointer">
      <%= render 'icons/hamburger', width: '32', height: '32' %>
      <% if current_user.admin? && User.new_teachers? %>
        <div class='absolute -top-1 -right-2'>
          <div class='flex rounded-lg bg-warning text-[10px] px-[4px] text-text-light'>new</div>
        </div>
      <% end %>
    </button>
    <%= render 'navigation/dropdown' %>
  </div>
</nav>
